@using DevOps.CalculatorService.BMIService;
@model DevOps.Models.BMICalculator

@{
    ViewData["Title"] = "Index";

}


<h4>BMICalculator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label class="control-label"> Please Select Your Gender</label>
                <select class="form-control"  asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
            </select>
                <span asp-validation-for="Height"></span>
            </div>  
            <div class="form-group">
                <label asp-for="Height" class="control-label">Please Enter your Height in CM</label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label">Please Enter your Weight in KG</label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight"></span>
            </div>
            <br />
            <div class="form-group">
                <center><input type="submit" value="Calculate" class="btn btn-primary" /></center>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Bmi" class="control-label">Your BMI</label>
                <input asp-for="Bmi" class="form-control " disabled="disabled" />
                <span asp-validation-for="Bmi"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range" class="control-label value-textbox @ViewBag.TextboxClass">Staus</label>
                <input asp-for="Range" class="form-control value-textbox @ViewBag.TextboxClass " disabled="disabled" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
